html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
form,
fieldset,
legend,
img,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans SC";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

li {
    list-style: none;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ffb26a;
}

input {
    border: 0;
    outline: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
}