/* 毛玻璃背景 */
.glass {
    background: rgba(22, 22, 22, 0.38);
    backdrop-filter: blur(15px);
}

/* 橙色背景 */
.orange {
    background: rgba(255, 242, 234, .92);
}

.shadow {
    border-radius: 14px;
    box-shadow: 4px 10px 15px 0 rgba(255, 178, 106, .2);
}

/* 顶部导航部分 */
header#nav {
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 2;
    transition: all .3s;


}

.nav {
    /* background: #66ffcc; */
    padding-left: 48px;
}

.nav ul li {
    display: inline-flex;
    padding: 10px 10px 5px;
    margin-right: 115px;
    border-bottom: 3px solid #ffb26a;
}

.nav ul li a {
    font-size: 18px;
    text-align: center;
    font-weight: 700px;
    color: #fff;

}


.modal {
    position: fixed;
    left: 50%;
    bottom: -50%;
    transform: translate(-50%, -0%);
    width: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 8px 8px 0 rgba(253, 251, 251, 0.2);
    z-index: 3;
    transition: all 2s;
}

.message {
    font-size: 1.1rem;
    margin-bottom: 1.6rem;
    margin-top: 0;
}

.btn {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.btn:last-child {
    margin: 0;
}

.btn:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 底部页脚部分 */
footer {
    overflow: hidden;
}

.link-box {
    width: 100%;
    padding-top: 20px;
    /* background-color: pink; */
    background: url(../img/footer-bg.png), lightgray 50% / cover no-repeat;
    color: #fff;
}

.link-box .main-link {
    display: flex;
    /* background-color: #6fc; */
    padding: 15px;
}

.link-box .main-link:first-child {
    padding-left: 90px;
}

.link-box .link-item {
    padding: 10px 0 0 20px;
    flex-grow: 1;
    width: 340px;
}

.link-box .link-item a::before {
    content: "> ";
}

.link-box,
.main-link .first a::before {
    content: "";
}

.link-box .title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
}

.link-box .main-link .link-item li:not(.title) {
    line-height: 28px;
    padding-left: 4px;
}

.link-box .other-link {
    display: flex;
    margin-top: 15px;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.45);
    padding: 15px 45px;
}

.link-box .other-link a {
    color: rgba(255, 255, 255, 0.5);
}

.link-box .other-link .left div {
    padding: 5px;
}

.link-box .other-link .left {
    flex-grow: 4;
}

.link-box .other-link .right {
    flex-grow: 1;
}

@media screen and (max-width: 640px) {
    .nav {
        padding-left: 20px;
    }

    .nav ul li {
        margin-right: 35px;
    }

    .nav ul li:nth-child(n+3) {
        display: none;
    }

    .modal {
        padding: 1.6rem 1rem;
    }

    .modal .options {
        flex-direction: column;
    }

    .modal .options .btn{
        margin:10px;
        width: 80vw;
    }

    header .menu {
        /* display: inline-block; */
        position: relative;
        float: right;
        width: 50px;
        height: 50px;
        background: rgba(255, 178, 106, .2);
        z-index: 4;
    }

    .menu-block {
        position: fixed;
        /* float: right; */
        top: 0;
        right: -400px;
        height: 60vh;
        width: 230px;
        background: #fff;
        transition: all .5s;
        z-index: 5;
        /* border-radius: 50%; */
    }

    #nav .menu:hover .menu-block {
        top: 0;
        right: 0;

    }



    .link-box .main-link {
        margin-left: 10px;
        flex-direction: column;
        gap: 42px;
    }

    .link-box .main-link li {
        margin: 0 0 18px;
    }

    .link-box .main-link:first-child {
        padding-left: unset;
    }

    .link-box .other-link {
        padding: 15px 25px;
        flex-direction: column-reverse;
    }

}

@media screen and (min-width: 641px) and (max-width: 1200px) {
    .nav ul li {
        margin-right: 40px;
    }

    .link-box .main-link:first-child {
        padding-left: 40px;
    }
}