.link-box {
    width: 100%;
    padding-top: 20px ;
    /* background-color: pink; */
    background: url(../img/footer-bg.png), lightgray 50% / cover no-repeat;
    color: #fff;
}

.link-box .main-link {
    display: flex;
    /* background-color: #6fc; */
    padding: 15px;
}

.link-box .main-link:first-child {
    padding-left: 90px;
}

.link-box .link-item {
    padding: 10px 0 0 20px;
    flex-grow: 1;
    width: 340px;
}

.link-box .link-item a::before {
    content: "> ";
}

.link-box,
.main-link .first a::before {
    content: "";
}

.link-box .title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
}

.link-box .main-link .link-item li:not(.title) {
    line-height: 28px;
    padding-left: 4px;
}

.link-box .other-link {
    display: flex;
    margin-top: 15px;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.45);
    padding: 15px 45px;
}

.link-box .other-link a {
    color: rgba(255, 255, 255, 0.5);
}

.link-box .other-link .left div {
    padding: 5px;
}

.link-box .other-link .left{
    flex-grow: 4;
}

.link-box .other-link .right{
    flex-grow: 1;
}