main {
    background: #f5f6ff;
    width: 100%;
}

/* banner */
.banner {
    height: 710px;
    position: relative;
    background-size: cover;
}

.banner-title {
    position: absolute;
    top: 148px;
    left: 36px;
    width: 100%;
}

.banner .text {
    display: flex;
    flex-direction: column;
    width: 623px;
    border-radius: 18px;
    padding: 10px;
    gap: 10px;
}

.banner-title .title h1{
    font-size: 50px;
}

.banner-title .subtitle {
    font-size: 40px;
}

.banner-title .title h1,
.banner-title .subtitle {
    font-weight: 800;
    background: linear-gradient(142deg, #23fd53 10.39%, #38dbff 97.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* banner 底部新闻 */

.news,
.column {
    width: 100%;
}

.banner .news {
    display: flex;
    position: absolute;
    bottom: 0;
    color: #fff;
}

.banner .news-title {
    display: inline-block;
    padding: 10px 0 20px 20px;
}

.banner .news-title h2 {
    padding: 0 15px 4px 0;
    border-bottom: 3px solid #ffb26a;
}

.banner .column {
    padding: 10px;
}

.news-content ul {
    display: flex;
    flex-direction: row;
}

.news-content li {
    padding: 10px 20px 43px 10px;
    flex-grow: 1;
}


.news .side-left,
.news .side-right {
    width: 36px;
    background: rgba(255, 149, 52, 0.85);
}

.banner .news-content .news-times {
    font-size: 14px;
    padding-bottom: 16px;
    color: #ccc;
}

.banner .news-content .news-content {
    font-size: 18px;
}

/* banner -end */

.introduce .title,
.introduce .text .introduce-title,
.introduce .text li p:nth-child(1),
.developer .title,
.download .window h1,
.download .window .title,
.download .window button,
.log button,
.log h1 {
    font-size: 18px;
    color: rgb(255, 138, 20);
}

.introduce .title,
.developer .title {
    margin: 10px 0;
}


/* list */
.list {
    width: 80vw;
}

.list .block {
    display: flex;
    margin-top: 47px;
}

.list .block .right {
    display: flex;
    flex-wrap: wrap;
    /* position: relative; */
    flex-grow: 1;
}

.list .block .left {
    flex-grow: 1;
    width: 281px;
}

.list .block .right div,
.list .block .left {
    flex-shrink: 0;
    background: #a6a6a6;
    margin: 9.5px;
}



.list .block .right div:nth-child(1) {
    width: 580px;
    height: 200px;
    flex-grow: 2;
}

.list .block .right div:nth-child(2) {
    width: 280px;
    height: 200px;
    flex-grow: 1;
}

.list .block .right div:nth-child(3) {
    width: 280px;
    height: 200px;
    flex-grow: 1;
}

.list .block .right div:nth-child(4) {
    width: 580px;
    height: 200px;
    flex-grow: 2;
}

/* list -end */

/* introduce */
.introduce {
    margin-top: 88px;
    padding: 80px 0;
}

.introduce,
.developer {
    text-align: center;
}

.introduce .img {
    width: 880px;
    height: 386px;
    background: #d9d9d9;
    margin: 0 auto;
    margin: 30px auto;
}

.introduce .text {
    text-align: left;
}

.introduce .text .text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.introduce .text ul {
    margin: 10px;
}

.introduce .text li {
    display: flex;
    align-items: center;
    margin: 10px 0 15px;
}

.introduce .text li .icon {
    width: 24px;
    height: 24px;
    background: #fff;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 4px 10px 15px 0 rgba(255, 178, 106, .2);
}


.introduce h1,
.developer h1 {
    display: inline-block;
    background: #fff;
    border-radius: 14px;
    font-size: 18px;
    padding: 5px 15px;
}

/* introduce -end */

/* developer */
.developer {
    margin: 44px 0 20px;
}

.developer .account .avatar {
    width: 150px;
    height: 150px;
    background: #d9d9d9;
    margin: 20px auto 30px;
    border-radius: 25px;
    box-shadow: 4px 10px 15px 0 rgba(255, 178, 106, .2);
}

/* download */
.download {
    overflow: hidden;
    /* background: url(https://random.skiro.link/api/?id=14); */
    background-size: cover;

}

.download .window {
    margin: 78px auto 50px;
    width: 625px;
    height: 318px;
    border-radius: 14px;
    background: rgba(22, 22, 22, .3);
    backdrop-filter: blur(10px);
    color: #fff;
}

.download .window h1 {
    width: 100%;
    height: 45px;
    border-radius: 14px 14px 0 0;
    background: rgba(255, 149, 52, 0.6);
    text-align: center;
    line-height: 45px;
    color: #fff;
}

.log {
    padding: 25px 0 54px;
}

.log .content {
    display: flex;
}

.log .left {
    margin:0 120px 0 20vw;
}

.log .right {

    width: 280px;
    height: 167px;
    background: #d9d9d9;
}